version: 2
jobs:
  build:
    working_directory: ~/project
    docker:
      - image: circleci/ruby:2.5.1
        environment:
          EDITOR: vim
          RAILS_ENV: test
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            gem update --system
            bundle install --without development --deployment --binstubs --jobs=4 --retry=3

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: Rake Run
          command: bundle exec rake

      # collect reports
      #  - store_test_results:
      #      path: /tmp/test-results
      #  - store_artifacts:
      #      path: /tmp/test-results
      #      destination: test-results
